  <nav>
    <div class="logo">
      <a href="{%url 'room'%}">Rome</a>
    </div>
    
    <div>
      <form method="GET" action="{%url 'room'%}">
        <input type="text" name="q" placeholder="Search room..."/>
      </form>
    </div>
    <div class="buttons">
      
      {%if request.user.is_authenticated%}
      <a href="#" class="signup-btn">Profile</a>
      <a href="{%url 'logout'%}" class="signin-btn">Logout</a>
      {%else%}
      <a href="#" class="signup-btn">Sign-up</a>
      <a href="{%url 'login'%}" class="signin-btn">Sign In</a>
      {%endif%}
    </div>
  </nav>
